@model AllOrganization.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    
    <meta ="viewport" ="width=device-width" />
    <title>Login</title>
</head>
<body>
 
 merhaba @Html.EditorFor(m => m.Username)
		 @Html.EditorFor(m => m.EMail)
</body>
</html>